<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"
        <script src="static/htmx.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Testudo Reloaded</a>
    </nav>
      <div class="jumbotron">
        <div class="container">
            <h1>Browse and Search Course Listings</h1>
            <p></p>
            <h3><a href="/terms">Terms</a></h3>
            <h3>Search<h3>
                <form hx-post="/search" hx-trigger="submit" hx-target="#results">
                    <input type="text" name="query" placeholder="Search by title" required>
                    <button type="submit">Search</button>
                </form>

                <div id="results"></div>

            <h3>Departments</h3>
            <div class="row">
                <div class="col-md-4">
                <ul class="list-unstyled">
                    {% for department in departments %}
                        <li><a href="/departments/{{ department.department }}">{{ department.department }}</a></li>
                        {% if loop.index % 3 == 0 and not loop.last %}
                        </ul>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-unstyled">
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
     </div>
    </body>
</html>
